
/XsdFormEditor.Web/obj
/XsdFormEditor.Web/bin
/XsdFormEditor.Web.Tests/obj
/XsdFormEditor.Web.Tests/bin
/XsdFormEditor.WinForms/bin
/XsdFormEditor.WinForms/obj
/XsdFormEditor.WinForms.Tests/bin
/XsdFormEditor.WinForms.Tests/obj
/XsdFormEditor.Wpf/bin
/XsdFormEditor.Wpf/obj
/XsdFormEditor.XmlSchemaParser/bin
/XsdFormEditor.XmlSchemaParser/obj
/XsdFormEditor.XmlSchemaParser.Tests/bin
/XsdFormEditor.XmlSchemaParser.Tests/obj
/_ReSharper.XsdFormEditor
/XsdFormEditor.ncrunchsolution.user
/XsdFormEditor.vsmdi
/_ReSharper.XsdFormEditor
/XsdFormEditor.7.0.TeamCity.user
/XsdFormEditor.ncrunchsolution
/XsdFormEditor.Web.Tests/bin
/XsdFormEditor.Web.Tests/obj